
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page {
  color: whitesmoke;
  background-color: #17212b;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family:'Courier New', Courier, monospace;
}

header {
  flex: 1;
  background-color: #242f3d;
}

main {
  flex: 35;
  display: flex;
}

.chat-list {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.search-chat  {
  border-radius: 3rem;
  margin: 0.5rem;
  display: flex;
  background-color: #242f3d;
}

.search-chat input {
  border: 0;
  outline: 0;
  color: inherit;
  margin: 0.5rem;
  flex: auto;
  background-color: inherit;
}

.chat {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.chat .avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 2rem;
  display: block;
}

.chat .info {
  flex: auto;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 0.5rem;
}

.chat .info > * {
  display: flex;
  align-items: center;
}

.chat .info .username {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  align-self: center;
  min-width: 10ch;
}

.chat .info > .message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  align-self: center;
  color: #637283;
}

.chat .info .time {
  justify-content: right;
  color: #637283;
}

.chat .info .notifications {
  justify-content: right;
}

.notifications .message-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  background-color: #4082bc;
}

.dialog {
  flex: 2;
  min-width: 30%;
  background-color: #0e1621;
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 0.75rem;
}

.dialog .messages {
  display: flex;
  flex-direction: column-reverse;
  justify-content: end;
  gap: 0.75rem;
}

.messages .my-message {
  align-self: end;
  margin-right: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  background-color: #2b5278;
  max-width: 70%;
}

.messages .text {
  word-break: break-all;
  flex: auto;
}

.messages .time {
  color: #709ac4;
  font-size: 0.75rem;
  align-self: end;
  flex: auto;
}

.messages .persons-message {
  align-self: start;
  margin-left: 1rem;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  display: flex;
  gap: 0.5rem;
  background-color: #182533;
  max-width: 70%;
}

.persons-message .time {
  color: #5a6c7b;
}

.dialog .message-input {
  height: 3rem;
  background-color: #17212b;
}

.message-input input {
  border: 0;
  outline: 0;
  background-color: inherit;
  color: inherit;
  height: 100%;
  padding: 0.5rem;
  font-size: inherit;
  width: 100%;
}

.resizer {
  cursor: ew-resize;
  width: 1px;
  background-color: #0e1621;
}

.chat:hover {
  background-color: #202b36;
  cursor: pointer;
}