

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  height: 100vh;
}

.square {
  width: 33vw;
  height: 33vw;
  background-color: blue;
  transform: rotate(60deg);
}